* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #050505;
}

html {
  font-size: 14px;
}

body {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

nav {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

nav .logo .strong {
  font-weight: 700;
}

header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(150deg, #f5f5f5, #e0e0e0);
  width: 100%;
  min-height: 80vh;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  line-height: 3.8rem;
  font-weight: 800;
}

header h2 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

header h3 {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

.cta1 {
  background-color: #050505;
  color: #fff;
  margin: 3rem auto 0 auto;
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 4px 4px 0 #f79543;
          box-shadow: 4px 4px 0 #f79543;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.cta1 a {
  color: #fff;
  font-weight: 500;
}

.intro {
  margin-top: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 91rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding: 4rem 0;
  background: #f9f9fa;
}

main .servicios {
  max-width: 100rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article {
  margin: 2rem 1rem;
  width: 100%;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 12px #bdbdbd;
          box-shadow: 0px 0px 12px #bdbdbd;
  overflow: hidden;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

main article .cont__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main article .cont__article img {
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  width: 100%;
  height: auto;
  max-height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
}

main article .cont__article .article__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
}

main article p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 10px 0;
}

main article .destacado {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

main h4 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  -webkit-text-decoration: 4px underline #f79543;
          text-decoration: 4px underline #f79543;
}

main h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 1rem;
}

main .about {
  width: 90%;
  max-width: 60rem;
  padding: 2rem 1rem;
  margin: 4rem auto 0 auto;
  text-align: center;
  background: #f5f5f5;
  -webkit-box-shadow: 10px 10px 10px #cecece;
          box-shadow: 10px 10px 10px #cecece;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
}

main .about .social__link a {
  color: blue;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0rem 1rem;
}

main .about .social__link a:hover, main .about .social__link a:visited, main .about .social__link a:active {
  text-decoration: underline;
}

main .about p {
  line-height: 2rem;
}

footer {
  padding: 3rem 0;
  background: #050505;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer * {
  color: #e0e0e0;
}

footer h6 {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

footer h6 .strong {
  font-weight: 600;
}

footer h6::before {
  position: absolute;
  z-index: -1;
  content: "";
  background: #f79543;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
}

footer ul {
  margin: 2rem 0;
  text-align: center;
}

footer li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

footer .social {
  text-align: center;
}

footer .social img {
  display: inline-block;
  background: #050505;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

@media (min-width: 40rem) {
  header h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  main article {
    width: 40%;
    max-width: 40rem;
  }
}

@media (min-width: 56rem) {
  html {
    font-size: 16px;
  }
  main article:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .cta1:hover {
    background-color: #fff;
  }
  .cta1:hover * {
    color: #050505;
    font-weight: 500;
  }
  footer ul li {
    font-size: 1rem;
  }
}
