* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #050505;
}

html {
  font-size: 14px;
}

body {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

nav {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

nav .logo .strong {
  font-weight: 700;
}

header {
  margin: 0 auto;
  padding: 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(150deg, #f5f5f5, #e0e0e0);
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 12vw;
  line-height: 12.5vw;
  font-weight: 800;
}

header h2 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

header h3 {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

.cta1 {
  background-color: #050505;
  color: #fff;
  margin: 3rem auto 0 auto;
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 4px 4px 0 #f79543;
          box-shadow: 4px 4px 0 #f79543;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.cta1 a {
  color: #fff;
  font-weight: 500;
}

.intro {
  margin-top: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 91rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  margin-top: 4rem;
}

main .servicios {
  max-width: 100rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article {
  margin: 2rem;
  width: 90%;
  max-width: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main article p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 10px 0;
}

main article .destacado {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

main h4 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  -webkit-text-decoration: 4px underline #f79543;
          text-decoration: 4px underline #f79543;
}

main h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

main img {
  width: 100%;
  max-width: 490px;
  height: auto;
  margin-top: 0.8rem;
  -webkit-box-shadow: 3px 3px 6px #535353;
          box-shadow: 3px 3px 6px #535353;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

main .about {
  width: 90%;
  max-width: 30rem;
  padding: 2rem 1rem;
  margin: 4rem auto 0 auto;
  text-align: center;
  background: linear-gradient(150deg, #f5f5f5, #e0e0e0);
  border-radius: 0.5rem;
}

main .about .social__link a {
  color: blue;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0rem 1rem;
}

main .about .social__link a:hover, main .about .social__link a:visited, main .about .social__link a:active {
  text-decoration: underline;
}

main .about p {
  line-height: 2rem;
}

footer {
  margin: 4rem 0 0 0;
  background: #050505;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer * {
  color: #e0e0e0;
}

footer p {
  font-weight: 400;
  font-size: 1.2rem;
  -webkit-text-decoration: 4px underline #f79543;
          text-decoration: 4px underline #f79543;
}

footer p .strong {
  font-weight: 600;
}

footer ul {
  margin: 1rem 0;
  text-align: center;
}

footer li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

footer .social {
  text-align: center;
}

footer .social img {
  display: inline-block;
  background: #050505;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

@media (min-width: 40rem) {
  header h1 {
    font-size: 7vw;
    line-height: 8vw;
  }
}

@media (min-width: 97rem) {
  header h1 {
    font-size: 9rem;
    line-height: 10rem;
  }
}

@media (min-width: 56rem) {
  html {
    font-size: 16px;
  }
  main article:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .cta1:hover {
    background-color: #fff;
  }
  .cta1:hover * {
    color: #050505;
    font-weight: 500;
  }
  footer ul li {
    font-size: 1rem;
  }
}
