* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #050505;
}

html {
  font-size: 14px;
}

body {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background: #fafafa;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

nav .logo .strong {
  font-weight: 700;
}

nav .menu {
  width: 2rem;
  margin-right: 1rem;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu::before,
nav .menu::after,
nav .menu p {
  content: "";
  position: absolute;
  width: 18px;
  height: 3px;
  background: #050505;
  border-radius: 2px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

nav .menu::before {
  top: 18px;
}

nav .menu::after {
  bottom: 18px;
}

nav .menu:hover::before {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

nav .menu:hover::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

nav .menu:hover p {
  width: 0;
}

header {
  margin: 0rem auto 0 auto;
  padding: 4rem 1rem;
  background: #ececec;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 2.2rem;
  margin: 0 auto;
  font-weight: 600;
  position: relative;
  z-index: 1;
  line-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1::before,
header h1::after {
  content: "";
  position: absolute;
  height: 2.4rem;
  background: #ffd900;
  z-index: -1;
}

header h1::before {
  top: 0.5rem;
  width: 21rem;
}

header h1::after {
  bottom: 0.5rem;
  width: 16rem;
}

header h2 {
  margin-top: 1.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}

header h3 {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

header .puerta__blindada {
  display: none;
  max-width: 450px;
}

.cta1 {
  background-color: #2d19ff;
  color: #fff;
  margin-top: 25px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 4px 4px 0 #f79543;
          box-shadow: 4px 4px 0 #f79543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  position: relative;
  z-index: 1;
}

.cta1 a {
  color: #fff;
  font-weight: 500;
}

@-webkit-keyframes mover__whatsapp {
  0% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  50% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

@keyframes mover__whatsapp {
  0% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  50% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

.logo__whatsapp {
  margin-left: 1rem;
  width: 1.5rem;
  -webkit-animation: mover__whatsapp 4000ms linear infinite;
          animation: mover__whatsapp 4000ms linear infinite;
}

main {
  margin-top: 4rem;
}

main article {
  margin: 4rem 0.5rem;
}

main article p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 10px 0;
}

main article .destacado {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

main h4 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  -webkit-text-decoration: 4px underline #f79543;
          text-decoration: 4px underline #f79543;
}

main h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

main img {
  width: 100%;
  max-width: 35rem;
  margin-top: 0.8rem;
  -webkit-box-shadow: 3px 3px 6px #535353;
          box-shadow: 3px 3px 6px #535353;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

main .about {
  width: 100%;
  padding: 1rem;
  margin: 4rem auto 0 auto;
  text-align: center;
  background: #fff;
}

main .about p {
  line-height: 2rem;
}

.margin__whatsapp {
  margin: 0 0 0 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  margin: 4rem 0 0 0;
  background: #050505;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer * {
  color: #fff;
}

footer p {
  font-weight: 400;
}

footer p .strong {
  font-weight: 600;
}

footer ul {
  margin: 1rem 0;
  text-align: center;
}

footer li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

footer .social img {
  display: inline-block;
  width: 2.2rem;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

@media (min-width: 40rem) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .intro {
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  header .intro h1 {
    font-size: 3rem;
  }
  header .intro h1::before,
  header .intro h1::after {
    left: 0;
    height: 40%;
  }
  header .intro h1::before {
    top: 0.2rem;
    width: 105%;
  }
  header .intro h1::after {
    bottom: 0.4rem;
    width: 75%;
  }
  header .intro .cta1 {
    margin-left: 0;
  }
  main article {
    width: 100%;
    margin: 2.4rem auto;
    border: 0px solid #dfdfdf;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.5rem;
    background: #fff;
  }
}

@media (min-width: 715px) {
  header .puerta__blindada {
    display: inline-block;
    max-width: 35%;
  }
}

@media (min-width: 785px) {
  * {
    font-size: 16px;
  }
  main article:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .cta1:hover .logo__whatsapp {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
